In [1]:
import numpy as np
import pandas as pd

### Tworzenie DataFrame

In [5]:
arr2d = np.array([[1, 2, 3], [4, 5, 6]])

In [6]:
pd.DataFrame(arr2d)

   0  1  2
0  1  2  3
1  4  5  6

Własne nazwy kolumn

In [11]:
pd.DataFrame(arr2d, columns=['a', 'b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6

Własne etykiety wierszy i kolumn

In [12]:
pd.DataFrame(arr2d, index=['w1', 'w2'], columns=['a', 'b', 'c'])

    a  b  c
w1  1  2  3
w2  4  5  6

### Wybór elementów

In [13]:
np.random.seed(5)

In [14]:
arr_rnd = np.random.randn(5, 5)
arr_rnd

array([[ 0.44122749, -0.33087015,  2.43077119, -0.25209213,  0.10960984],
       [ 1.58248112, -0.9092324 , -0.59163666,  0.18760323, -0.32986996],
       [-1.19276461, -0.20487651, -0.35882895,  0.6034716 , -1.66478853],
       [-0.70017904,  1.15139101,  1.85733101, -1.51117956,  0.64484751],
       [-0.98060789, -0.85685315, -0.87187918, -0.42250793,  0.99643983]])

In [16]:
df = pd.DataFrame(arr_rnd, index=['a', 'b', 'c', 'd', 'e'], columns=['C1', 'C2', 'C3', 'C4', 'C5'])

In [17]:
df

         C1        C2        C3        C4        C5
a  0.441227 -0.330870  2.430771 -0.252092  0.109610
b  1.582481 -0.909232 -0.591637  0.187603 -0.329870
c -1.192765 -0.204877 -0.358829  0.603472 -1.664789
d -0.700179  1.151391  1.857331 -1.511180  0.644848
e -0.980608 -0.856853 -0.871879 -0.422508  0.996440

In [18]:
df['C1']

a    0.441227
b    1.582481
c   -1.192765
d   -0.700179
e   -0.980608
Name: C1, dtype: float64

In [21]:
df[['C1', 'C3']]

         C1        C3
a  0.441227  2.430771
b  1.582481 -0.591637
c -1.192765 -0.358829
d -0.700179  1.857331
e -0.980608 -0.871879

Tworzenie nowej kolumny

In [27]:
df['new_C6'] = df['C1'] * 2
df

         C1        C2        C3        C4        C5    new_C6
a  0.441227 -0.330870  2.430771 -0.252092  0.109610  0.882455
b  1.582481 -0.909232 -0.591637  0.187603 -0.329870  3.164962
c -1.192765 -0.204877 -0.358829  0.603472 -1.664789 -2.385529
d -0.700179  1.151391  1.857331 -1.511180  0.644848 -1.400358
e -0.980608 -0.856853 -0.871879 -0.422508  0.996440 -1.961216

Usuwanie kolumny

In [28]:
df.drop('C5', axis=1)

         C1        C2        C3        C4    new_C6
a  0.441227 -0.330870  2.430771 -0.252092  0.882455
b  1.582481 -0.909232 -0.591637  0.187603  3.164962
c -1.192765 -0.204877 -0.358829  0.603472 -2.385529
d -0.700179  1.151391  1.857331 -1.511180 -1.400358
e -0.980608 -0.856853 -0.871879 -0.422508 -1.961216

In [32]:
df = df.drop('C5', axis=1)

KeyError: "['C5'] not found in axis"

In [33]:
df

         C1        C2        C3        C4    new_C6
a  0.441227 -0.330870  2.430771 -0.252092  0.882455
b  1.582481 -0.909232 -0.591637  0.187603  3.164962
c -1.192765 -0.204877 -0.358829  0.603472 -2.385529
d -0.700179  1.151391  1.857331 -1.511180 -1.400358
e -0.980608 -0.856853 -0.871879 -0.422508 -1.961216

Usuwanie wierszy

In [37]:
df.drop('d')

         C1        C2        C3        C4    new_C6
a  0.441227 -0.330870  2.430771 -0.252092  0.882455
b  1.582481 -0.909232 -0.591637  0.187603  3.164962
c -1.192765 -0.204877 -0.358829  0.603472 -2.385529
e -0.980608 -0.856853 -0.871879 -0.422508 -1.961216

Wybór wiersza

In [40]:
df.loc['a']

C1        0.441227
C2       -0.330870
C3        2.430771
C4       -0.252092
new_C6    0.882455
Name: a, dtype: float64

In [41]:
df.loc[['a', 'c']]

         C1        C2        C3        C4    new_C6
a  0.441227 -0.330870  2.430771 -0.252092  0.882455
c -1.192765 -0.204877 -0.358829  0.603472 -2.385529

In [42]:
df.loc['b', 'C1']

1.5824811170615634

Wybór warunkowy

In [43]:
df

         C1        C2        C3        C4    new_C6
a  0.441227 -0.330870  2.430771 -0.252092  0.882455
b  1.582481 -0.909232 -0.591637  0.187603  3.164962
c -1.192765 -0.204877 -0.358829  0.603472 -2.385529
d -0.700179  1.151391  1.857331 -1.511180 -1.400358
e -0.980608 -0.856853 -0.871879 -0.422508 -1.961216

In [44]:
df > 0.5

      C1     C2     C3     C4  new_C6
a  False  False   True  False    True
b   True  False  False  False    True
c  False  False  False   True   False
d  False   True   True  False   False
e  False  False  False  False   False

In [45]:
df[df > 0.5]

         C1        C2        C3        C4    new_C6
a       NaN       NaN  2.430771       NaN  0.882455
b  1.582481       NaN       NaN       NaN  3.164962
c       NaN       NaN       NaN  0.603472       NaN
d       NaN  1.151391  1.857331       NaN       NaN
e       NaN       NaN       NaN       NaN       NaN

Dwa warunki

In [46]:
df[(df > 0.2) & (df < 0.4)]

   C1  C2  C3  C4  new_C6
a NaN NaN NaN NaN     NaN
b NaN NaN NaN NaN     NaN
c NaN NaN NaN NaN     NaN
d NaN NaN NaN NaN     NaN
e NaN NaN NaN NaN     NaN

In [47]:
df[(df < 0.2) | (df > 0.4)]

         C1        C2        C3        C4    new_C6
a  0.441227 -0.330870  2.430771 -0.252092  0.882455
b  1.582481 -0.909232 -0.591637  0.187603  3.164962
c -1.192765 -0.204877 -0.358829  0.603472 -2.385529
d -0.700179  1.151391  1.857331 -1.511180 -1.400358
e -0.980608 -0.856853 -0.871879 -0.422508 -1.961216

Warunki na kolumnie

In [48]:
df[df['C1'] > 0.4]

         C1        C2        C3        C4    new_C6
a  0.441227 -0.330870  2.430771 -0.252092  0.882455
b  1.582481 -0.909232 -0.591637  0.187603  3.164962

In [49]:
df[df['C1'] > 0.4]['C3']

a    2.430771
b   -0.591637
Name: C3, dtype: float64

Usuwanie indeksów

In [50]:
df = df.reset_index()
df

  index        C1        C2        C3        C4    new_C6
0     a  0.441227 -0.330870  2.430771 -0.252092  0.882455
1     b  1.582481 -0.909232 -0.591637  0.187603  3.164962
2     c -1.192765 -0.204877 -0.358829  0.603472 -2.385529
3     d -0.700179  1.151391  1.857331 -1.511180 -1.400358
4     e -0.980608 -0.856853 -0.871879 -0.422508 -1.961216

In [51]:
df['new_index'] = [100, 101, 102, 103, 104]
df

  index        C1        C2        C3        C4    new_C6  new_index
0     a  0.441227 -0.330870  2.430771 -0.252092  0.882455        100
1     b  1.582481 -0.909232 -0.591637  0.187603  3.164962        101
2     c -1.192765 -0.204877 -0.358829  0.603472 -2.385529        102
3     d -0.700179  1.151391  1.857331 -1.511180 -1.400358        103
4     e -0.980608 -0.856853 -0.871879 -0.422508 -1.961216        104

In [52]:
df = df.set_index('new_index')
df

          index        C1        C2        C3        C4    new_C6
new_index
100           a  0.441227 -0.330870  2.430771 -0.252092  0.882455
101           b  1.582481 -0.909232 -0.591637  0.187603  3.164962
102           c -1.192765 -0.204877 -0.358829  0.603472 -2.385529
103           d -0.700179  1.151391  1.857331 -1.511180 -1.400358
104           e -0.980608 -0.856853 -0.871879 -0.422508 -1.961216

In [53]:
df.loc[103]

index            d
C1       -0.700179
C2        1.151391
C3        1.857331
C4        -1.51118
new_C6   -1.400358
Name: 103, dtype: object

In [54]:
df.loc['d']

KeyError: 'd'