In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A': [1, 2, np.nan], 'B': [np.nan, 5, np.nan], 'C': [7, 8, 9]})
df

     A    B  C
0  1.0  NaN  7
1  2.0  5.0  8
2  NaN  NaN  9

Sumowanie brakujących wartości

In [3]:
df.isna().sum()

A    1
B    2
C    0
dtype: int64

Usuwanie brakującyh wartości

In [4]:
df.dropna()

     A    B  C
1  2.0  5.0  8

Usuwanie brakujących wartości gdy więcej niż 1 w wierszu

In [5]:
df.dropna(thresh=2)

     A    B  C
0  1.0  NaN  7
1  2.0  5.0  8

Usuwanie kolumn gdy brakujące wartości

In [6]:
df.dropna(axis=1)

   C
0  7
1  8
2  9

Uzupełnianie wartości

In [7]:
df

     A    B  C
0  1.0  NaN  7
1  2.0  5.0  8
2  NaN  NaN  9

In [8]:
df.fillna('New_VALUE')

           A          B  C
0        1.0  New_VALUE  7
1        2.0        5.0  8
2  New_VALUE  New_VALUE  9