In [1]:
import pandas as pd

In [2]:
df_shopping = pd.read_csv('../../Pliki/02_pandas/shopping.csv')
df_shopping

    user_id  product_id product_name        date  quantity  unit_price
0       101           1       Laptop  2023-08-08         2        1200
1       102           3   Smartphone  2023-08-08         1         800
2       103           2   Headphones  2023-08-08         3          50
3       101           4     Keyboard  2023-08-09         1          80
4       104           5        Mouse  2023-08-09         2          20
5       105           6      Monitor  2023-08-10         1         250
6       102           2   Headphones  2023-08-11         2          50
7       106           1       Laptop  2023-08-12         1        1200
8       107           4     Keyboard  2023-08-12         1          80
9       103           6      Monitor  2023-08-13         2         250
10      105           3   Smartphone  2023-08-14         1         800
11      108           5        Mouse  2023-08-14         1          20
12      109           1       Laptop  2023-08-15         2        1200
13      110           3   Smartphone  2023-08-15         1         800

In [3]:
df_shopping['total_price'] = df_shopping['quantity'] * df_shopping['unit_price']
df_shopping

,user_id,product_id,product_name,date,quantity,unit_price,total_price
0,101,1,Laptop,2023-08-08,2,1200,2400
1,102,3,Smartphone,2023-08-08,1,800,800
2,103,2,Headphones,2023-08-08,3,50,150
3,101,4,Keyboard,2023-08-09,1,80,80
4,104,5,Mouse,2023-08-09,2,20,40
5,105,6,Monitor,2023-08-10,1,250,250
6,102,2,Headphones,2023-08-11,2,50,100
7,106,1,Laptop,2023-08-12,1,1200,1200
8,107,4,Keyboard,2023-08-12,1,80,80
9,103,6,Monitor,2023-08-13,2,250,500
10,105,3,Smartphone,2023-08-14,1,800,800
11,108,5,Mouse,2023-08-14,1,20,20
12,109,1,Laptop,2023-08-15,2,1200,2400
13,110,3,Smartphone,2023-08-15,1,800,800

Ile użytkownik wydał u nas

In [4]:
df_shopping.groupby('user_id')['total_price'].sum()

user_id
101    2480
102     900
103     650
104      40
105    1050
106    1200
107      80
108      20
109    2400
110     800
Name: total_price, dtype: int64

Jaki jest dzień z największym utargiem

In [6]:
df_shopping.groupby('date')['total_price'].sum()

date
2023-08-08    3350
2023-08-09     120
2023-08-10     250
2023-08-11     100
2023-08-12    1280
2023-08-13     500
2023-08-14     820
2023-08-15    3200
Name: total_price, dtype: int64

Grupowanie po kilku kolumnach

In [8]:
df_shopping.groupby(['date', 'product_name'])['total_price'].sum()

date        product_name
2023-08-08  Headphones       150
            Laptop          2400
            Smartphone       800
2023-08-09  Keyboard          80
            Mouse             40
2023-08-10  Monitor          250
2023-08-11  Headphones       100
2023-08-12  Keyboard          80
            Laptop          1200
2023-08-13  Monitor          500
2023-08-14  Mouse             20
            Smartphone       800
2023-08-15  Laptop          2400
            Smartphone       800
Name: total_price, dtype: int64

Dzienna sprzedaż - zamówienie minimalne i maksymalne

In [10]:
df_shopping.groupby('date')['total_price'].aggregate(['min', 'max'])

            min   max
date
2023-08-08  150  2400
2023-08-09   40    80
2023-08-10  250   250
2023-08-11  100   100
2023-08-12   80  1200
2023-08-13  500   500
2023-08-14   20   800
2023-08-15  800  2400