In [1]:
import pandas as pd

In [2]:
df_houses_raw = pd.read_csv('../../Pliki/02_pandas/house_price.csv')

In [4]:
df_houses_raw.head()

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
0,Kawalerka na sprzedaż,240000.0,8888.89,Private,1.0,27.00,1,Housing Block,primary,Bolesławiec,Lower Silesia,January,2022,39603,15.565105,51.263033
1,Nowoczesna kawalerka z winda plus garaż podziemny,250000.0,7142.86,Private,1.0,35.00,1,Housing Block,primary,Jelcz-Laskowice,Lower Silesia,January,2022,15828,17.349964,51.039831
2,Nowa kawalerka z Balkonem/Legnicka/Magnolia,259000.0,10360.00,Estate Agency,2.0,25.00,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
3,Kawalerka z balkonem/klucze I kwartał 2022/60 ...,269000.0,10275.02,Private,3.0,26.18,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978
4,40 tys. taniej od dewelopera/Kawalerka/Magnoli...,258000.0,9923.08,Estate Agency,3.0,26.00,1,Housing Block,primary,Wrocław,Lower Silesia,January,2022,634487,17.032669,51.108978

In [5]:
df_houses = df_houses_raw.copy()

Informacje na temat kolumn

In [6]:
df_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62731 entries, 0 to 62730
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   offer_title             62731 non-null  object
 1   price                   62731 non-null  float64
 2   price_per_meter         62731 non-null  float64
 3   offer_type              62731 non-null  object
 4   floor                   61246 non-null  float64
 5   area                    61246 non-null  float64
 6   rooms                   62731 non-null  int64
 7   offer_type_of_building  61246 non-null  object
 8   market                  62731 non-null  object
 9   city_name               62731 non-null  object
 10  voivodeship             62731 non-null  object
 11  month                   62731 non-null  object
 12  year                    62731 non-null  int64
 13  population              62731 non-null  int64
 14  longitude               62731 non-null  float64
 15  latitude                62731 non-null  float64
dtypes: float64(6), int64(3), object(7)
memory usage: 7.7+ MB

Brakujące dane

In [7]:
df_houses.isna().sum()

offer_title                  0
price                        0
price_per_meter              0
offer_type                   0
floor                     1485
area                      1485
rooms                        0
offer_type_of_building    1485
market                       0
city_name                    0
voivodeship                  0
month                        0
year                         0
population                   0
longitude                    0
latitude                     0
dtype: int64

In [8]:
df_houses = df_houses.dropna()

In [9]:
df_houses.isna().sum()

offer_title               0
price                     0
price_per_meter           0
offer_type                0
floor                     0
area                      0
rooms                     0
offer_type_of_building    0
market                    0
city_name                 0
voivodeship               0
month                     0
year                      0
population                0
longitude                 0
latitude                  0
dtype: int64

In [10]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [11]:
df_houses.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,61246.00000,61246.00000,61246.00000,61246.00000,61246.00000,61246.00000,61246.00000,61246.00000,61246.00000
mean,398999.68544,7582.48766,2.39903,91.29966,2.51233,2022.00000,314611.13150,19.15659,51.82203
std,2048308.34199,36871.27928,2.14891,3155.85101,0.82406,0.00000,453265.91052,2.13912,1.32426
min,1.00000,0.02000,-1.00000,1.00000,1.00000,2022.00000,1328.00000,14.25107,49.29694
25%,260000.00000,5257.83000,1.00000,42.00000,2.00000,2022.00000,33967.00000,17.56150,50.68711
50%,345000.00000,6587.86500,2.00000,51.17000,2.00000,2022.00000,103997.00000,19.27216,51.76873
75%,460000.00000,8775.51000,3.00000,63.00000,3.00000,2022.00000,402465.00000,20.93083,52.84846
max,504151616.00000,9002707.43000,11.00000,399000.00000,4.00000,2022.00000,1744351.00000,23.88738,54.79013

In [12]:
df_houses.describe(include='object')

,offer_title,offer_type,offer_type_of_building,market,city_name,voivodeship,month
count,61246,61246,61246,61246,61246,61246,61246
unique,28489,2,5,2,609,16,3
top,Sprzedam mieszkanie,Private,Housing Block,aftermarket,Warszawa,Masovia,March
freq,1815,44476,43800,53944,4157,9042,21357

### Filtrowanie wartości błednych

Sortowanie po powierzchni

In [13]:
df_houses.sort_values('area')

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
51970,Leśniczówka - nowe mieszkania na sprzedaż,5800.00000,5800.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,Świdwin,West Pomerania,March,2022,15725,15.77735,53.77470
9281,Leśniczówka - nowe mieszkania na sprzedaż,5500.00000,5500.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,Świdwin,West Pomerania,January,2022,15725,15.77735,53.77470
30052,Park Chopina | 34-62 m2 | 1-3 pokoje | taras-b...,6200.00000,6200.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,Tomaszów Mazowiecki,Lodzkie,February,2022,64893,20.00842,51.53169
45585,Mieszkania na parterze,285000.00000,285000.00000,Estate Agency,0.00000,1.00000,2,Housing Block,aftermarket,Sanok,Subcarpathia,March,2022,39027,22.20703,49.56091
56266,"M-3 z loggią, 50,53 m2, pierwsze piętro, os. S...",265000.00000,265000.00000,Estate Agency,1.00000,1.00000,2,Housing Block,aftermarket,Żyrardów,Masovia,March,2022,41096,20.44350,52.05433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27663,Mieszkanie 52m2 parter. Północ.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.92794,54.09906
38482,Mieszkanie 52m2 parter. Północ.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.92794,54.09906
19465,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wrocław,Lower Silesia,February,2022,634487,17.03267,51.10898
9169,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.03267,51.10898
61548,SPRZEDAM mieszkanie 58m2 + piwnica 11m2. Zamkn...,399000.00000,1.00000,Private,2.00000,399000.00000,3,Housing Block,aftermarket,Nowogard,West Pomerania,March,2022,16937,15.12259,53.66877

In [14]:
df_houses.sort_values('area', ascending=False)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
61548,SPRZEDAM mieszkanie 58m2 + piwnica 11m2. Zamkn...,399000.00000,1.00000,Private,2.00000,399000.00000,3,Housing Block,aftermarket,Nowogard,West Pomerania,March,2022,16937,15.12259,53.66877
9169,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wrocław,Lower Silesia,January,2022,634487,17.03267,51.10898
19465,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wrocław,Lower Silesia,February,2022,634487,17.03267,51.10898
27663,Mieszkanie 52m2 parter. Północ.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.92794,54.09906
38482,Mieszkanie 52m2 parter. Północ.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwałki,Podlaskie,February,2022,69317,22.92794,54.09906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34405,"M- 3 z loggią 50.53 m2, 1 piętro, oś. Spółdzie...",285000.00000,285000.00000,Estate Agency,1.00000,1.00000,2,Housing Block,aftermarket,Żyrardów,Masovia,February,2022,41096,20.44350,52.05433
34608,Mieszkania na parterze,285000.00000,285000.00000,Estate Agency,0.00000,1.00000,2,Housing Block,aftermarket,Sanok,Subcarpathia,February,2022,39027,22.20703,49.56091
38238,"M-4 z balkonem 63 m2, drugie piętro w Housing...",389000.00000,389000.00000,Estate Agency,2.00000,1.00000,3,Housing Block,aftermarket,Żyrardów,Masovia,February,2022,41096,20.44350,52.05433
10931,"M-2 z balkonem 32,50 m2, parter os. Spółdzielcza.",229000.00000,229000.00000,Estate Agency,0.00000,1.00000,1,Housing Block,aftermarket,Żyrardów,Masovia,January,2022,41096,20.44350,52.05433
9281,Leśniczówka - nowe mieszkania na sprzedaż,5500.00000,5500.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,Świdwin,West Pomerania,January,2022,15725,15.77735,53.77470

Filtrowanie powierzchnii od 10 do 300m2

In [15]:
df_houses = df_houses[(df_houses['area'] >= 10) & (df_houses['area'] <= 300)]

Podstawowe statystyki

In [16]:
df_houses.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,61095.00000,61095.00000,61095.00000,61095.00000,61095.00000,61095.00000,61095.00000,61095.00000,61095.00000
mean,398115.55981,7478.18788,2.39989,54.65976,2.51225,2022.00000,314729.20152,19.15682,51.82214
std,2049708.96976,36535.07817,2.14973,20.26927,0.82318,0.00000,453081.36739,2.13891,1.32386
min,1.00000,0.02000,-1.00000,10.00000,1.00000,2022.00000,1328.00000,14.25107,49.29694
25%,260000.00000,5263.89000,1.00000,42.00000,2.00000,2022.00000,33967.00000,17.56150,50.68711
50%,345000.00000,6591.55000,2.00000,51.10000,2.00000,2022.00000,103997.00000,19.27216,51.76873
75%,460000.00000,8775.51000,3.00000,63.00000,3.00000,2022.00000,402465.00000,20.93083,52.84846
max,504151616.00000,9002707.43000,11.00000,300.00000,4.00000,2022.00000,1744351.00000,23.88738,54.79013

Sortowanie po cenie za m2

In [17]:
df_houses.sort_values('price_per_meter')

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
30315,Mieszkanie Warka 45 m2 Odstąpię rezerwację,1.00000,0.02000,Private,3.00000,45.00000,2,Apartment Building,primary,Warka,Masovia,February,2022,11727,21.18338,51.78510
40287,Sprzedm tanio... bez pośredników...,4.00000,0.06000,Private,2.00000,62.00000,4,Housing Block,aftermarket,Siedlce,Masovia,February,2022,77102,22.27651,52.16638
40379,OKAZJA. Tylko 246 tys. zł. Nieruchomość na mie...,246.00000,1.76000,Estate Agency,0.00000,140.00000,4,Other,aftermarket,Kędzierzyn-Koźle,Opole,February,2022,63194,18.21096,50.34488
404,Dam odstępne za mieszkanie!,100.00000,2.00000,Private,1.00000,50.00000,2,Housing Block,primary,Zabrze,Silesia,January,2022,178357,18.78637,50.30862
2054,Zamiana Mieszkania,123.00000,2.73000,Private,2.00000,45.00000,2,Housing Block,aftermarket,Lądek-Zdrój,Lower Silesia,January,2022,5917,16.87259,50.34583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51502,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,March,2022,461935,18.65402,54.34829
35588,Mieszkanie do sprzedaży,2800000.00000,53742.80000,Private,2.00000,52.10000,2,Tenement,aftermarket,Biskupiec,Warmia-Masuria,February,2022,10626,20.95518,53.86880
29663,4 pokojowe mieszkanie w slupsku,4440000.00000,60000.00000,Private,4.00000,74.00000,4,Housing Block,aftermarket,Słupsk,Pomerania,February,2022,93936,17.02807,54.46493
52100,Sprzedam mieszkanie -cesja,6580000.00000,149545.45000,Private,1.00000,44.00000,2,Housing Block,primary,Kraków,Lesser Poland,March,2022,762508,19.93686,50.06195
36199,Okazja Pogodno 56 mkw z ogródkiem tylko u nas,504151616.00000,9002707.43000,Estate Agency,1.00000,56.00000,2,Housing Block,aftermarket,Szczecin,West Pomerania,February,2022,402465,14.55096,53.43018

In [18]:
df_houses.sort_values('price_per_meter', ascending=False)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
36199,Okazja Pogodno 56 mkw z ogródkiem tylko u nas,504151616.00000,9002707.43000,Estate Agency,1.00000,56.00000,2,Housing Block,aftermarket,Szczecin,West Pomerania,February,2022,402465,14.55096,53.43018
52100,Sprzedam mieszkanie -cesja,6580000.00000,149545.45000,Private,1.00000,44.00000,2,Housing Block,primary,Kraków,Lesser Poland,March,2022,762508,19.93686,50.06195
29663,4 pokojowe mieszkanie w slupsku,4440000.00000,60000.00000,Private,4.00000,74.00000,4,Housing Block,aftermarket,Słupsk,Pomerania,February,2022,93936,17.02807,54.46493
35588,Mieszkanie do sprzedaży,2800000.00000,53742.80000,Private,2.00000,52.10000,2,Tenement,aftermarket,Biskupiec,Warmia-Masuria,February,2022,10626,20.95518,53.86880
40474,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,February,2022,461935,18.65402,54.34829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,Zamiana Mieszkania,123.00000,2.73000,Private,2.00000,45.00000,2,Housing Block,aftermarket,Lądek-Zdrój,Lower Silesia,January,2022,5917,16.87259,50.34583
404,Dam odstępne za mieszkanie!,100.00000,2.00000,Private,1.00000,50.00000,2,Housing Block,primary,Zabrze,Silesia,January,2022,178357,18.78637,50.30862
40379,OKAZJA. Tylko 246 tys. zł. Nieruchomość na mie...,246.00000,1.76000,Estate Agency,0.00000,140.00000,4,Other,aftermarket,Kędzierzyn-Koźle,Opole,February,2022,63194,18.21096,50.34488
40287,Sprzedm tanio... bez pośredników...,4.00000,0.06000,Private,2.00000,62.00000,4,Housing Block,aftermarket,Siedlce,Masovia,February,2022,77102,22.27651,52.16638
30315,Mieszkanie Warka 45 m2 Odstąpię rezerwację,1.00000,0.02000,Private,3.00000,45.00000,2,Apartment Building,primary,Warka,Masovia,February,2022,11727,21.18338,51.78510

Filtrowanie od 500 do 60000 za m2

In [19]:
df_houses = df_houses[(df_houses['price_per_meter'] >= 500) & (df_houses['price_per_meter'] <= 60000)]

In [20]:
df_houses.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,60960.00000,60960.00000,60960.00000,60960.00000,60960.00000,60960.00000,60960.00000,60960.00000,60960.00000
mean,390595.53828,7344.22110,2.40151,54.65576,2.51252,2022.00000,314671.27215,19.15757,51.82195
std,216049.86008,3154.21716,2.15036,20.23889,0.82323,0.00000,453185.24417,2.13889,1.32433
min,9500.00000,500.00000,-1.00000,11.00000,1.00000,2022.00000,1328.00000,14.25107,49.29694
25%,261000.00000,5275.90500,1.00000,42.00000,2.00000,2022.00000,33967.00000,17.56150,50.67931
50%,345000.00000,6600.00000,2.00000,51.10000,2.00000,2022.00000,103997.00000,19.27216,51.76873
75%,460000.00000,8781.32750,3.00000,63.00000,3.00000,2022.00000,402465.00000,20.93083,52.84846
max,5400000.00000,60000.00000,11.00000,300.00000,4.00000,2022.00000,1744351.00000,23.88738,54.79013

Filtrowanie po cenie

In [21]:
df_houses.sort_values('price')

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
42436,Mieszkanie w kamienicy Privatej,9500.00000,527.78000,Estate Agency,2.00000,18.00000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
42447,Kawalerka za odstępne CENA OSTATECZA,10000.00000,500.00000,Estate Agency,2.00000,20.00000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
42437,Mieszkanie w kamienicy Privatej,11000.00000,733.33000,Estate Agency,2.00000,15.00000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
1363,Mieszkanie w kamienicy Privatej,12500.00000,694.44000,Estate Agency,2.00000,18.00000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
1362,Mieszkanie w kamienicy Privatej,12500.00000,833.33000,Estate Agency,2.00000,15.00000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29326,ANGEL WAWEL ul.Sukiennicza - apartament dla Ko...,3999000.00000,25634.62000,Estate Agency,4.00000,156.00000,4,Apartment Building,aftermarket,Kraków,Lesser Poland,February,2022,762508,19.93686,50.06195
29663,4 pokojowe mieszkanie w slupsku,4440000.00000,60000.00000,Private,4.00000,74.00000,4,Housing Block,aftermarket,Słupsk,Pomerania,February,2022,93936,17.02807,54.46493
51502,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,March,2022,461935,18.65402,54.34829
40474,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,February,2022,461935,18.65402,54.34829
62050,Kraków apartament w centrum ulica Sarego,5400000.00000,20000.00000,Private,2.00000,270.00000,4,Tenement,aftermarket,Kraków,Lesser Poland,March,2022,762508,19.93686,50.06195

In [22]:
df_houses.sort_values('price', ascending=False)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
62050,Kraków apartament w centrum ulica Sarego,5400000.00000,20000.00000,Private,2.00000,270.00000,4,Tenement,aftermarket,Kraków,Lesser Poland,March,2022,762508,19.93686,50.06195
40474,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,February,2022,461935,18.65402,54.34829
51502,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,March,2022,461935,18.65402,54.34829
29663,4 pokojowe mieszkanie w slupsku,4440000.00000,60000.00000,Private,4.00000,74.00000,4,Housing Block,aftermarket,Słupsk,Pomerania,February,2022,93936,17.02807,54.46493
51203,ANGEL WAWEL ul.Sukiennicza - apartament dla Ko...,3999000.00000,25634.62000,Estate Agency,4.00000,156.00000,4,Apartment Building,aftermarket,Kraków,Lesser Poland,March,2022,762508,19.93686,50.06195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,Mieszkanie w kamienicy Privatej,12500.00000,694.44000,Estate Agency,2.00000,18.00000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
1362,Mieszkanie w kamienicy Privatej,12500.00000,833.33000,Estate Agency,2.00000,15.00000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
42437,Mieszkanie w kamienicy Privatej,11000.00000,733.33000,Estate Agency,2.00000,15.00000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
42447,Kawalerka za odstępne CENA OSTATECZA,10000.00000,500.00000,Estate Agency,2.00000,20.00000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
42436,Mieszkanie w kamienicy Privatej,9500.00000,527.78000,Estate Agency,2.00000,18.00000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873

Filtrowanie od kwoty 100 000

In [23]:
df_houses = df_houses[df_houses['price'] >= 100000]

In [24]:
df_houses.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,60355.00000,60355.00000,60355.00000,60355.00000,60355.00000,60355.00000,60355.00000,60355.00000,60355.00000
mean,393796.72751,7394.75867,2.41012,54.82915,2.52098,2022.00000,315651.96527,19.16292,51.82457
std,214724.67233,3125.88933,2.14861,20.18139,0.81935,0.00000,454387.82025,2.14079,1.32469
min,100000.00000,714.29000,-1.00000,11.00000,1.00000,2022.00000,1328.00000,14.25107,49.29694
25%,265000.00000,5312.50000,1.00000,42.25000,2.00000,2022.00000,34120.00000,17.56523,50.68711
50%,349000.00000,6623.75000,2.00000,51.40000,2.00000,2022.00000,103997.00000,19.27216,51.76873
75%,463000.00000,8812.45500,3.00000,63.00000,3.00000,2022.00000,402465.00000,20.93083,52.84846
max,5400000.00000,60000.00000,11.00000,300.00000,4.00000,2022.00000,1744351.00000,23.88738,54.79013

### Eksploracja

Typy oferty

In [25]:
df_houses['offer_type'].value_counts()

offer_type
Private          43938
Estate Agency    16417
Name: count, dtype: int64

Typ budynku

In [26]:
df_houses['offer_type_of_building'].value_counts()

offer_type_of_building
Housing Block         43470
Tenement               8291
Apartment Building     6320
Other                  2174
Loft                    100
Name: count, dtype: int64

In [27]:
df_houses['market'].value_counts()

market
aftermarket    53166
primary         7189
Name: count, dtype: int64

In [28]:
df_houses['voivodeship'].value_counts()

voivodeship
Masovia              8971
Silesia              7347
Lower Silesia        5553
Lodzkie              5506
Lesser Poland        4817
Greater Poland       4358
West Pomerania       3672
Lublin               3325
Pomerania            3120
Kuyavia-Pomerania    3063
Warmia-Masuria       2911
Subcarpathia         1694
Świętokrzyskie       1570
Podlaskie            1510
Opole                1470
Lubusz               1468
Name: count, dtype: int64

Ogłoszenie z najniższą cena za metr

In [31]:
df_houses.sort_values('price_per_meter').head(1)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
29958,Lipiany - sprzedam mieszkanie z przybudówką,100000.00000,714.29000,Private,0.00000,140.00000,4,Tenement,aftermarket,Lipiany,West Pomerania,February,2022,4085,14.96976,53.00356

In [32]:
df_houses.sort_values('price_per_meter').head(1)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
29958,Lipiany - sprzedam mieszkanie z przybudówką,100000.00000,714.29000,Private,0.00000,140.00000,4,Tenement,aftermarket,Lipiany,West Pomerania,February,2022,4085,14.96976,53.00356

In [33]:
df_houses.sort_values('price_per_meter', ascending=False).head(10)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
29663,4 pokojowe mieszkanie w slupsku,4440000.00000,60000.00000,Private,4.00000,74.00000,4,Housing Block,aftermarket,Słupsk,Pomerania,February,2022,93936,17.02807,54.46493
35588,Mieszkanie do sprzedaży,2800000.00000,53742.80000,Private,2.00000,52.10000,2,Tenement,aftermarket,Biskupiec,Warmia-Masuria,February,2022,10626,20.95518,53.86880
40474,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,February,2022,461935,18.65402,54.34829
51502,"Komfortowy,wyjątkowy apart.108m2,wyposażony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gdańsk,Pomerania,March,2022,461935,18.65402,54.34829
38193,Luksusowe mieszkanie 3p ze SMART HOME,2600000.00000,40625.00000,Private,5.00000,64.00000,3,Housing Block,aftermarket,Warszawa,Masovia,February,2022,1744351,21.00672,52.23196
3111,Mieszkania+piwnica+garaż Kraków Lwowska bezpo...,2000000.00000,40000.00000,Private,0.00000,50.00000,2,Tenement,aftermarket,Kraków,Lesser Poland,January,2022,762508,19.93686,50.06195
12736,Mieszkania+piwnica+garaż Kraków Lwowska bezpo...,2000000.00000,40000.00000,Private,0.00000,50.00000,2,Tenement,aftermarket,Kraków,Lesser Poland,January,2022,762508,19.93686,50.06195
23157,Mieszkania+piwnica+garaż Kraków Lwowska bezpo...,2000000.00000,40000.00000,Private,0.00000,50.00000,2,Tenement,aftermarket,Kraków,Lesser Poland,February,2022,762508,19.93686,50.06195
57861,Sprzedam Apartament Rewal Platimum,980000.00000,39200.00000,Estate Agency,3.00000,25.00000,2,Apartment Building,aftermarket,Gryfice,West Pomerania,March,2022,16898,15.19871,53.91485
38562,"Apartament.3pok.60m2,wyposażony ul.Bursztynowa...",2200000.00000,36544.85000,Estate Agency,0.00000,60.20000,3,Apartment Building,aftermarket,Gdańsk,Pomerania,February,2022,461935,18.65402,54.34829

Ilość ogłoszeń gdzie powierzchnia mniejsza niż 20m2

In [34]:
df_houses[df_houses['area'] < 20].size

4288

Wszystkie ogłoszenia z Krakowa

In [35]:
df_houses[df_houses['city_name'] == 'Kraków'].size

53664

Wszystkie ogłoszenia z Łodzi których powierzchnia mieści się pomiędzy 10 a 25m2

In [37]:
df_houses[(df_houses['city_name'] == 'Łódź') & (df_houses['area'] >= 10) & (df_houses['area'] <= 25)]

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
28,"ROI 7,2% - piękna kawalerka ul Słowiańska - i...",159000.00000,9937.50000,Estate Agency,2.00000,16.00000,1,Tenement,primary,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
1330,Bezpośrednio od właściciela Apartament 24m2 Łó...,289000.00000,12041.67000,Estate Agency,0.00000,24.00000,1,Apartment Building,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
1331,Mieszkanie 1-pokojowe w rewitalizowanej Kamienicy,195000.00000,9276.88000,Estate Agency,2.00000,21.02000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
1333,kawalerka z C.O. w zrewitalizowanej kamienicy ...,170000.00000,10585.31000,Private,2.00000,16.06000,1,Tenement,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
1335,RENTAROOM.PL KAWALERKI INWESTYCYJNE super loka...,159000.00000,7950.00000,Estate Agency,4.00000,20.00000,1,Housing Block,aftermarket,Łódź,Lodzkie,January,2022,711332,19.45699,51.76873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53455,Kawalerka 20 m2 bezczynszowa z miejscem parkin...,105000.00000,5250.00000,Private,1.00000,20.00000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
53457,"Kawalerka 23 M2, sprzedam lub zamienię, pełna ...",120000.00000,5217.39000,Private,2.00000,23.00000,1,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
55174,kawalerka na sprzedaż,160000.00000,6400.00000,Estate Agency,1.00000,25.00000,2,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
55329,Dwupokojowe mieszkanie 10 min od Manufaktury i...,199000.00000,8291.67000,Private,1.00000,24.00000,2,Tenement,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873
59196,"RENTAROOM.PL KAWALERKI INWESTYCYJNE wynajęte,p...",149000.00000,8277.78000,Estate Agency,3.00000,18.00000,3,Housing Block,aftermarket,Łódź,Lodzkie,March,2022,711332,19.45699,51.76873

Czy jest tam więcej niż 1 pokój?

In [38]:
df_houses[(df_houses['city_name'] == 'Łódź') & (df_houses['area'] >= 10) & (df_houses['area'] <= 25)]['rooms'].value_counts()

rooms
1    121
3      4
2      2
Name: count, dtype: int64

Średnia cena w województwie za m2

In [40]:
df_houses.groupby('voivodeship')['price_per_meter'].mean().sort_values(ascending=False)

voivodeship
Lesser Poland       10135.95293
Masovia              9806.13028
Pomerania            8575.93590
Lower Silesia        7446.88015
West Pomerania       7431.66355
Podlaskie            7385.66905
Lublin               7022.67228
Lodzkie              6584.30192
Greater Poland       6582.34899
Subcarpathia         6317.28289
Kuyavia-Pomerania    6292.39431
Warmia-Masuria       6161.95582
Świętokrzyskie       5902.46366
Silesia              5722.50556
Lubusz               5384.22526
Opole                5134.68230
Name: price_per_meter, dtype: float64

Najdroższe miasto za metr

In [41]:
df_houses.groupby('city_name')['price_per_meter'].mean().sort_values(ascending=False)

city_name
Zakopane           19346.82588
Międzyzdroje       15190.51719
Szklarska Poręba   15015.03375
Sopot              14822.97873
Szczyrk            14614.36474
                       ...
Korfantów           2469.14000
Przedbórz           2325.58000
Otmuchów            2192.90400
Małomice            1529.91400
Lipiany              714.29000
Name: price_per_meter, Length: 603, dtype: float64

Średnia cena za metr w województwach dla rynku pierwotnego i wtórnego

In [45]:
df_houses.groupby(['voivodeship', 'market'])['price_per_meter'].mean().sort_values(ascending=False)

voivodeship        market
Lesser Poland      aftermarket   10152.52119
                   primary       10022.53860
Masovia            aftermarket    9889.37527
                   primary        9167.14042
Pomerania          aftermarket    8687.94252
West Pomerania     primary        7959.41905
Pomerania          primary        7895.51476
Lower Silesia      primary        7834.26581
Podlaskie          primary        7707.84237
Lower Silesia      aftermarket    7396.23841
West Pomerania     aftermarket    7364.96562
Podlaskie          aftermarket    7348.55011
Lublin             aftermarket    7044.24490
Silesia            primary        6839.27687
Lublin             primary        6828.84264
Lodzkie            primary        6796.50359
Kuyavia-Pomerania  primary        6712.36198
Greater Poland     aftermarket    6648.45827
Subcarpathia       primary        6603.03495
Lodzkie            aftermarket    6559.31675
Świętokrzyskie     primary        6473.44268
Greater Poland     primary        6303.42325
Subcarpathia       aftermarket    6278.15979
Kuyavia-Pomerania  aftermarket    6254.58228
Warmia-Masuria     aftermarket    6167.53225
                   primary        6101.00352
Świętokrzyskie     aftermarket    5788.61681
Lubusz             primary        5613.03573
Opole              primary        5607.12288
Silesia            aftermarket    5557.65881
Lubusz             aftermarket    5366.95971
Opole              aftermarket    5088.07381
Name: price_per_meter, dtype: float64